Customer_Client/Connected Services/CustomerService_Test/CustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54030/CustomerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54030/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54030/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Customer_WCFService" />
      <xsd:import schemaLocation="http://localhost:54030/CustomerService.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_AddCustomerRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerRecord" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_AddCustomerRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerRecords" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeleteCustomerRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerRecord" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeleteCustomerRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomerRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerRecord" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomerRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerRecordResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="AddCustomerRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/AddCustomerRecord" message="tns:ICustomerService_AddCustomerRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/AddCustomerRecordResponse" message="tns:ICustomerService_AddCustomerRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetCustomerRecords" message="tns:ICustomerService_GetCustomerRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetCustomerRecordsResponse" message="tns:ICustomerService_GetCustomerRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/DeleteCustomerRecord" message="tns:ICustomerService_DeleteCustomerRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/DeleteCustomerRecordResponse" message="tns:ICustomerService_DeleteCustomerRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/UpdateCustomerRecord" message="tns:ICustomerService_UpdateCustomerRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/UpdateCustomerRecordResponse" message="tns:ICustomerService_UpdateCustomerRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerService" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCustomerRecord">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/AddCustomerRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerRecords">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetCustomerRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerRecord">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/DeleteCustomerRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerRecord">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/UpdateCustomerRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="BasicHttpBinding_ICustomerService" binding="tns:BasicHttpBinding_ICustomerService">
      <soap:address location="http://localhost:54030/CustomerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>